/* .popup{
    position: fixed;
    top:180px;
    left:350px;
    width: 600px;
    height: 70vh;
    background-color: #814590;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.popup-inner {
  position: fixed;
  top: 350px;
  left: 638px;
  width: 500px;
  height: 30vh;
  transform: translate(-50%, -50%);
  z-index: 999; /* Adjust the z-index based on your needs */
  background: rgb(126, 70, 138);
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 50px rgb(248, 241, 250);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  align-items: center;
  border-radius: 15px;
}
